body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: red;
    margin: 20px;
    padding: 0;
}

/* Headings */
h1 {
    color: blue;
    font-size: 2.5em;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

h2, h3, h4, h5, h6 {
    color: pink;
    margin-top: 20px;
}

/* Paragraphs */
p {
    font-size: 1em;
    line-height: 1.6;
}

/* Links */
a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Images */
img {
    border-radius: 8px;
    margin-top: 10px;
}

/* Tables */
table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

th, td {
    padding: 10px;
    text-align
}